<%include layouts/header.html%>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <img src="../image/office.jpg" width="200" alt="...">
                <div class="caption">
                    <h3>Office Name</h3>
                    <p> <a href="menu.html" class="btn btn-primary" role="button">Office 1</a> </p>
                </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                    <img src="../image/office.jpg" width="200" alt="...">
                    <div class="caption">
                        <h3>Office Name</h3>
                        <p> <a href="menu.html" class="btn btn-primary" role="button">Office 2</a> </p>
                    </div>
                    </div>
            </div>
        </div>



<%include layouts/footer.html%>