<%include header.html%>

    <h2 class="text-center">Teachers info</h2>

    <div style="overflow-x: scroll">
        <table class="table table-bordered table-hover" >
            <tr class="info">
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Room</th>
                <th>TSF</th>
                <th>Edit</th>
            </tr>
 
               

        </table>
    </div>
    <div class="btn-group">
        <a href="teacher/new" class="btn btn-primary">Add new</a>
    </div>


<%include footer.html%>
